{% extends "index.html" %}
{% block content %}
<link href="https://fonts.cdnfonts.com/css/orbitron-2" rel="stylesheet">

<div class="lesson-page vh-100 d-flex flex-column align-items-center justify-content-start pt-5 px-2"
    style="background-color: #FFF9DB;">
    <div class="container py-2">
        <div class="lessonpage-subtitle text-center mb-4" style="font-size: 2.5rem; font-weight: 600;">
            Now time for some practice material!
        </div>

        <div class="row mb-4">
            <div class="col-md-12 text-center">
                <p style="font-size: 1.8rem; line-height: 1.5;">
                    Try editing the pictures using the sliders and explore how they work before taking the quiz.
                </p>
            </div>
        </div>
    </div>

    <div class="text-center mt-0 mb-3">
        <a href="{{ url_for('lesson_page', page_num=8) }}" class="btn btn-primary btn-lg" style="font-size: 1.5rem; padding: 0.75rem 2rem;">Let's Go</a>
    </div>
</div>
{% endblock %}